<div class='h-screen flex flex-col gap-10'>
  <h1 class='text-white mb-4 text-3xl'>{{sideMenu.pageTitle}}</h1>
  <ul class='text-white flex flex-col gap-28 text-2xl'>
    <li
      class='steamDark hover:bg-green-800 text-white font-bold py-2 px-4 rounded border'
    ><a
        href='/aboutus'
        class='block hover:bg-green-800'
      >{{sideMenu.about}}</a></li>
    <li
      class='steamDark hover:bg-green-800 text-white font-bold py-2 px-4 rounded border'
    ><a href='/' class='block hover:bg-green-800'>{{sideMenu.wordle}}</a></li>
    <li
      class='steamDark hover:bg-green-800 text-white font-bold py-2 px-4 rounded border'
    ><a
        href='/highscore'
        class='block hover:bg-green-800'
      >{{sideMenu.highScore}}</a></li>
    <li
      class='steamDark hover:bg-green-800 text-white font-bold py-2 px-4 rounded border'
    ><a
        href='/aboutus'
        class='block hover:bg-green-800'
      >{{sideMenu.moreGames}}</a></li>
  </ul>
</div>