<aside>
  <h1>{{sideMenu.pageTitle}}</h1>
  <li><a href=''>{{sideMenu.about}}</a></li>
  <li><a href=''>{{sideMenu.wordle}}</a></li>
  <li><a href=''>{{sideMenu.highScore}}</a></li>
  <li><a href=''>{{sideMenu.moreGames}}</a></li>
</aside>