{{#if playerScore.length}}
  {{#each playerScore}}
    <div
      class='steamDark p-4 rounded-lg shadow-md mb-4 ml-10 flex flex-col border w-96 h-full mt-2'
    >
      <h2 class='text-white text-lg mb-2'>Player: {{this.playerName}}</h2>
      {{#if this.includedDoubble}}
        <strong class='text-white'>Included double letters</strong>
      {{else}}
        <strong class='text-white'>Did not include double letters</strong>
      {{/if}}
      <strong class='text-white block mb-2'>Word length:
        {{this.correctWordLength}}</strong>
      <strong class='text-white block mb-2'>Correct Word:
        {{this.correctWord}}</strong>
      <strong class='block mb-1 text-white'>Guessed words:</strong>
      <ul class='text-white flex flex-row flex-wrap gap-1'>
        {{#each this.guess}}
          <li class=''>{{this}},</li>
        {{/each}}
      </ul>
    </div>
  {{/each}}
{{else}}
  <h1 class='text-3xl'>No one plays this game</h1>
{{/if}}